@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@600&display=swap');

.card {
    width:320px;
    height:446px;
    background-color: #211799;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    border-radius:15px;
    box-shadow: -3px -3px 3px 0 rgba(#26e6f7, 0.3), 3px 3px 3px 0 rgba(#f759e4, 0.3),
    0px 0px 6px 2px rgba(#ffe759, 0.3), 0px 35px 25px -15px rgba(0, 0, 0, 0.3);
    position:relative;
    overflow:hidden;
    display:inline-block;
    vertical-align:middle;
    margin: 20px 10px;
    animation: haloCard 15s ease infinite;
    transition: transform 0.3s ease-in-out;
}

.card > span {
    position:relative;
    top:45%;

}

.card:before, .card:after, .card1:before, .card1:after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0; 
    bottom: 0;
    background-position: 0% 0%;
    background-repeat: no-repeat;
    background-size: 300% 300%;
    mix-blend-mode: color-dodge;
    opacity: 0.2;
    z-index: 1;
    animation: haloGradient 15s ease infinite;


    background-image: linear-gradient(
    115deg, 
        transparent 0%, 
        rgb(0, 231, 255) 30%, 
        rgb(255, 0, 231) 70%, 
    transparent 100%);

}

.card:after {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/13471/sparkles.gif");
    position:center;
    background-size: 180%;
    mix-blend-mode: color-dodge;
    opacity: 1;
    z-index:2;
    animation: haloSparkle 15s ease infinite;
}

.card.active:before {
    opacity: 1;
    animation: none;
    transition: none;


    background-image: linear-gradient(
        115deg, 
        transparent 0%, 
        transparent 25%,
        rgb(0, 231, 255, 0.7)45%, 
        rgb(255, 0, 231, 0.7) 55%, 
    transparent 70%,
    transparent 100%);
}

.card.active:before, .card.active:after {
    animation:none;

}

.card:nth-of-type(1), .card:nth-of-type(2), .card:nth-of-type(3) {
    box-shadow: 0 0 1px 1px rgba(white, 0.4), 0 25px 15px -10px rgba(0, 0, 0, 0.5);

}

/* Ajoutez une classe spécifique pour les images à l'intérieur des cartes */
.card img {
    max-width: 100%; /* La largeur maximale est égale à la largeur du conteneur parent */
    height: auto; /* Maintient le rapport hauteur/largeur de l'image */
  }
  



.operator {
    display:inline-block;
    vertical-align: middle;
    font-size: 45px;
}

@keyframes haloSparkle {
    0%, 5% {
        opacity: 0.1;  
    }
    20% {
        opacity:1;

    }
    100% {
        opacity: 0.1;

    }
} 


@keyframes haloGradient {
    0%, 100% {
        opacity: 0;
        background-position: 0% 0%;
    }
    8% {
        opacity: 0;    
    }
    19% {
        background-position: 100% 100%;
        opacity: 0.5;
    }
    35% {
        background-position: 100% 100%;
    }
    55% {
        background-position: 0% 0%;
        opacity: 0.3;
    }

    75% {
        opacity: 0;
    }
}

@keyframes haloCard {
    0%, 100% {
        transform: none;
    }
    25% {
       transform: rotateZ(-3deg) rotateX(-7deg) rotateY(6deg);
    }

    66% {
        transform: rotateZ(3deg) rotateX(7deg) rotateY(-6deg);
    }
}

body {
    color :black;
    background:#fff;
    font-family: "Heebo", sans-serif;
    display:flex;
    justify-content:center;
    vertical-align: middle;
    height:100%;
    text-align:center;
}

html {
    height:100%;
}

h1 {
    display: block;
    margin-top: 30px;
    margin-bottom: 5px;
}

p {
    margin-top: 30px;
    margin-bottom: 5px;
}


#app {
    position:relative;
    perspective: 1000px;

}


.card.agrandie {
    position: absolute;
    width:640px;
    height: 1338px;
    background-color: #211799;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    border-radius:15px;
    box-shadow: -3px -3px 3px 0 rgba(#26e6f7, 0.3), 3px 3px 3px 0 rgba(#f759e4, 0.3),
    0px 0px 6px 2px rgba(#ffe759, 0.3), 0px 35px 25px -15px rgba(0, 0, 0, 0.3);
    position:relative;
    overflow:hidden;
    display:inline-block;
    vertical-align:middle;
    margin: 20px 10px;
    animation: haloCard 15s ease infinite;
    transition: transform 0.3s ease-in-out;
    transform: translate(-50%, -50%) scale(1.2); /* Ajustez la valeur de l'échelle selon vos besoins */
    z-index: 9999; /* Pour s'assurer que la carte agrandie est au-dessus des autres */
}

.card:hover {
    transform: scale(1.2) translate(-50%, -50%);
    cursor: pointer;
    z-index: 9999; /* Assurez-vous que la carte survolée soit au-dessus des autres */
    position:fixed;
    top:50%;
    left:50%;
}

 /* Styles pour la carte agrandie au centre */
#carte-agrandie {
    position: absolute;
    width:640px;
    height: 1338px;
    background-color: #211799;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    border-radius:15px;
    box-shadow: -3px -3px 3px 0 rgba(#26e6f7, 0.3), 3px 3px 3px 0 rgba(#f759e4, 0.3),
    0px 0px 6px 2px rgba(#ffe759, 0.3), 0px 35px 25px -15px rgba(0, 0, 0, 0.3);
    position:relative;
    overflow:hidden;
    display:inline-block;
    vertical-align:middle;
    margin: 20px 10px;
    animation: haloCard 15s ease infinite;
    transition: transform 0.3s ease-in-out;
    transform: translate(-50%, -50%) scale(1.2); /* Ajustez la valeur de l'échelle selon vos besoins */
    z-index: 9999; /* Pour s'assurer que la carte agrandie est au-dessus des autres */
}

#carte-agrandie img {
    width: 640px;
    height: 1338px;
    border: 2px solid red; /* Exemple de bordure rouge au survol */
    transition: border 0.3s ease-in-out;
}

#carte-agrandie:hover img {
    border: 2px solid green; /* Exemple de bordure verte au survol */
}

