@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
}


.card {
    width:245px;
    height:341px;
    background-color: #211799;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    border-radius:15px;
    box-shadow: -3px -3px 3px 0 rgba(#26e6f7, 0.3), 3px 3px 3px 0 rgba(#f759e4, 0.3),
    0px 0px 6px 2px rgba(#ffe759, 0.3), 0px 35px 25px -15px rgba(0, 0, 0, 0.3);
    position:relative;
    overflow:hidden;
    display:inline-block;
    vertical-align:middle;
    margin: 20px 10px;
    animation: haloCard 15s ease infinite forwards;
    transition: transform 0.3s ease-in-out;
}


  
.card > span {
    position:relative;
    top:45%;

}

.card:before, .card:after, .card1:before, .card1:after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0; 
    bottom: 0;
    background-position: 0% 0%;
    background-repeat: no-repeat;
    background-size: 300% 300%;
    mix-blend-mode: color-dodge;
    opacity: 0.2;
    z-index: 1;
    animation: haloGradient 15s ease infinite;


    background-image: linear-gradient(
    80deg, 
        transparent 0%, 
        rgb(0, 231, 255) 30%, 
        hsl(54, 100%, 50%) 70%, 
    transparent 100%);
    background-size: 300% 300%; 

}

.card:after {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/13471/sparkles.gif");
    position:center;
    background-size: 180%;
    mix-blend-mode: color-dodge;
    opacity: 1;
    z-index:2;
    animation: haloSparkle 15s ease infinite;
}

.card.active:before {
    opacity: 1;
    animation: none;
    transition: none;


    background-image: linear-gradient(
        80deg, 
        transparent 0%, 
        transparent 25%,
        rgb(0, 231, 255, 0.7)45%, 
        hsl(54, 100%, 50%) 70%, 
    transparent 70%,
    transparent 100%);
}

.card.active:before, .card.active:after {
    animation:none;

}

.card:nth-of-type(1), .card:nth-of-type(2), .card:nth-of-type(3) {
    box-shadow: 0 0 1px 1px rgba(white, 0.4), 0 25px 15px -10px rgba(0, 0, 0, 0.5);

}

/* Ajoutez une classe spécifique pour les images à l'intérieur des cartes */
.card img {
    max-width: 100%; /* La largeur maximale est égale à la largeur du conteneur parent */
    height: auto; /* Maintient le rapport hauteur/largeur de l'image */
  }
  



.operator {
    display:inline-block;
    vertical-align: middle;
    font-size: 45px;
}





.card.rotate-animation {
    animation: haloCard 15s ease infinite;
}

body {
    color :#fff;
    font-family: "Heebo", sans-serif;
    display:flex;
    justify-content:center;
    vertical-align: middle;
    height:100%;
    text-align:center;
    background-image: url('./T85LQG4.gif');
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(52, 152, 219, 0.8);
    color: #fff;
    text-align: center;
    padding: 20px 0;
    width:100%; 
}

html {
    height:100%;
}

h1 {
    display: block;
    margin: 0;
    font-size: 24px;
}

p {
    margin-top: 30px;
    margin-bottom: 5px;
}

.container-paragraphe {
    display:flex;
    justify-content:center;
}

.header, #navigation-container, .footer {
    position:relative;
    left:0;  
}

.container-header, .container-footer {
    display:flex;
    justify-content:center;
}


.card.agrandie {
    position: absolute;
    width:640px;
    height: 1338px;
    background-color: #211799;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    border-radius:15px;
    box-shadow: -3px -3px 3px 0 rgba(#26e6f7, 0.3), 3px 3px 3px 0 rgba(#f759e4, 0.3),
    0px 0px 6px 2px rgba(#ffe759, 0.3), 0px 35px 25px -15px rgba(0, 0, 0, 0.3);
    position:relative;
    overflow:hidden;
    display:inline-block;
    vertical-align:middle;
    margin: 20px 10px;
    animation: haloCard 15s ease infinite;
    transition: transform 0.3s ease-in-out;
    transform: translate(-50%, -50%) scale(1.2); /* Ajustez la valeur de l'échelle selon vos besoins */
    z-index: 9999; /* Pour s'assurer que la carte agrandie est au-dessus des autres */
}

.card.agrandie {
    transform: scale(1.7);
    z-index: 9999;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.7) rotateZ(-3deg) rotateX(-7deg) rotateY(6deg);
    cursor: pointer;
    z-index: 9999; /* Assurez-vous que la carte survolée soit au-dessus des autres */
    animation: none; /* Désactivez l'animation pendant le survol */
}

#card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
    gap: 20px; /* Espacement entre les cartes, ajustez selon vos besoins */
    max-width: 1500px; /* Largeur maximale de la boîte des cartes, ajustez selon vos besoins */
    margin: 0 auto; /* Centrer la boîte des cartes horizontalement */
    padding-top:25px;
    padding-bottom:25px;
    z-index: 1;
}

#carte-agrandie {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    z-index: 9999;
    display: none; /* Initialisez la carte comme cachée */
    width: 50%;
    height: 1338px;
    background-color: #211799;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
    box-shadow: -3px -3px 3px 0 rgba(#26e6f7, 0.3), 3px 3px 3px 0 rgba(#f759e4, 0.3),
    0px 0px 6px 2px rgba(#ffe759, 0.3), 0px 35px 25px -15px rgba(0, 0, 0, 0.3);
}

@media(max-width:810px){
    #card-container {
        flex-direction:column;
    }

}

@media(max-width:810px){
    .header {
        width:100%;
    }

    .footer {
        background-color: #333;
        color: #fff;
        text-align: center;
        margin-top: auto;
        width: auto;
        height:auto;
    }
}

@media screen and (max-width: 810px) {
    #card-container {
        height: auto; /* Réglez la hauteur sur automatique pour s'adapter au contenu */
    }
}

.navigation-container {
    text-align: center;
    width: 100%;
    margin: 10px 0; /* Espacement entre les boutons et les cartes */
    display: none; /* Masquer le conteneur de navigation par défaut */
}

@media screen and (max-width: 480px) {
    #card-container {
        flex-direction: column; /* Empilez les cartes verticalement sur les petits écrans */
    }

    #navigation-container {
        display:flex;
        flex-direction:column;
        flex-wrap: nowrap;
        justify-content:space-between;
        align-items:center;
        width:60%;
        height:100%;
    }
}


.agrandie {
    display: block !important;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.2);
    z-index: 9999;
}

.agrandie img {
    width: 640px;
    height: 1338px;
    transition: border 0.3s ease-in-out;
}



#navigation-container {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    transition: opacity 0.5s ease-in-out; /* Ajoute une transition pour l'opacité des boutons */
  }
  
#precedent, #suivant {
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    background-color: #3498db;
}

.credits {
    margin-top: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width:100%;
    height:90px;
    margin-top: auto; /* Place le footer en bas de la page */
}

#btnMusique {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Style au survol du bouton */
#btnMusique:hover {
    background-color: #2980b9;
}

/* Style pour le texte du bouton */
#btnMusique::after {
    content: "\1F3B5"; /* Emoji note de musique */
    margin-left: 10px;
}

/* Style pour le bouton lorsque la musique est en cours de lecture */
#btnMusique.active {
    background-color: #e74c3c; /* Rouge */
}

/* Style au survol du bouton lorsque la musique est en cours de lecture */
#btnMusique.active:hover {
    background-color: #c0392b; /* Rouge plus foncé */
}